<h3><%=current_user.username%>'s inbox</h3>
<div id="inbox">
  <li class="labeled">From</li>
  <li class="labeled">Subject</li>
  <% @messages.each do |m| %>
    <div class="message-list get_message" id="<%= m.id %>">
        <li class="info-type"><%= m.sender%></li>
        <li class="info-type"><%= m.subject%></li>
    </div>
  <% end %>
</div>
<div id="reader">

</div>
