<% if logged_in? %>
  <% @users.each do |user| %>
    <div>
    <div>
      <img src="<%=user.avatar%>" alt="" width=200>
    </div>
    <h2 class="info-type"><%= link_to user.username.downcase, user_path(user.id), :method => :get %>/ <%= user.age %> / <%= user.location %></h2>
  </div>
  <% end %>
<% end %>
