<% if logged_in? %>
  <% @users.each do |user| %>
  <h1>
    <div class="center side">
     <link href='http://fonts.googleapis.com/css?family=Tangerine:700' rel='stylesheet' type='text/css'>
    <div class="center">
      <img class = "gilded" src="<%=user.avatar%>" alt="" width=200>
    </div>
    <h2><%= link_to user.username.downcase, user_path(user.id), :method => :get %>/ <%= user.age %> / <%= user.location %></h2>
  </div>
  </h1>
  <% end %>
<% end %>
