/* VARIABLES */

$primary-font: 'Open Sans', Helvetica, sans-serif;
$fancy-font: 'Roboto Slab', serif;
$primary-color: rgba(58, 58, 58, 1);
$shadow: rgba(0, 0, 0, .2);
$glow: rgba(255, 255, 255, .4);
$main-background: rgba(251,251,251,1);
$highlight: indianred;
$gilded-main: #BD8400;
/* LAYOUT */

body {
  width: 100%;
  text-align: center;
  background-color: $main-background;

}

section {
  margin: 10px;
}

.main {
  margin: 125px auto;
  padding-top: 8em;
  min-height: 300px;
  clear: both;
  position: relative;
  background-color: $main-background;
  width: 100%;
}

.giant-box {
  top: 10em;
  padding: 50px;
  margin: 0 30%;
  position: fixed;
  width: 500px;
  height: 300px;
  z-index: 100;
  background-color: rgba(255, 156, 33, 1);
  border-radius: 10px;
}

.top {
  position: fixed;
  top: 440px;
  margin: 0 12em;
}


.top-bar {
  background-color: gray;
  min-width: 480px;
  margin-left:0;
  padding: 0;
  width:100%;
  height: 10em;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin-bottom: 0;
  z-index: 100;
}

.wrapper {
  width: 100%;
  margin: 75px auto 0;
  text-align: center;
}

.side {
  margin: 3% 0 3%;
  padding: 1% 0 3%;
  width: 40%;
  height: 550px;
  border: 1px black;
  background-color: rgba(230, 219, 195, .3);
  border-radius: 15px;
  min-width: 200px;
  overflow: scroll;
}

.left {
  float: left;
  margin-left: 10%;
}

.right {
  width: 30%;
  float: right;
  margin-right: 10%;
}

.recipe-box {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 80%;
  height: 100%;
  height: 1%;
  overflow: hidden;
  text-align: center;
}

.left-bar {
  width: 500px;
  height: 170px;
  margin: 20px 10px 0;
  background-color: rgba(230, 219, 195, .3);
  position: relative;
  display: inline-block;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,.2);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,.2);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,.2);
}

.profile {
  width: 500px;
  margin: 0 auto;
  overflow: auto;
  padding: 1em;

  .first-block {
    height: auto;
    text-align: left;
  }

  .second-block {
    width: 300px;
    text-align: center;
  }

  .third-block {
    width: 90%;
    margin: 2em auto;
  }

  .left-block {
    width: 300px;
    float: left;
  }
  .right-block {
    float: right;
    width: 200px;
  }
}

.invite {
  border: 2px solid blue;
  height: 350px;
  width: 250px;
}

#inbox {
  width: 40%;
  float: left;
  border: 5px solid yellow;
  li {
    display: inline;
    margin: 0 3em;
    overflow: hidden;
  }
}
.message-list {
  border: 5px solid blue;
  clear: both;
  margin: 0 auto;
}

#reader {
  width: 50%;
  float: right;
}
#message-column {
  border: 5px solid red;
}
/* NAV */

nav {
  text-transform: uppercase;
  font-size: 1.1em;
  font-family: $fancy-font;
  bottom: 2.5em;
  width: 99%;
  position: absolute;

  li {
  display: inline;
  }

  a {
  color: white;
  margin: 4em 9em;
  }
}

.extra:before, .extra:after {
    font-family: $fancy-font;
    content: "\00d7";  /* Some fancy character */
    color: gold;
}

.extra:before {
    margin-right: 10px;
}
.extra:after {
    margin-left: 10px;
}

li {
  list-style-type: none;
  line-height: 1.2em;
}

/* TEXT */

header {
  margin: 0 auto;
}

p {
  line-height: 1.2em;
  font-family: $primary-font;
  font-size: 1.2em;
  color: rgba(0,0,0,.5);
}

.info-type {
  font-family: $fancy-font;
  text-align: center;
  line-height: 1.2em;
  color: rgba(0,0,0,.5);
}

h1 {
  font-family: $primary-font;
  font-size: 4em;
  -webkit-text-shadow: 2px 2px rgba(0,0,0,.2);
  -moz-text-shadow: 2px 2px rgba(0,0,0,.2);
  text-shadow: 2px 2px rgba(0,0,0,.2);
  color: rgba(255,255,255,1);
  margin-bottom: .5em;
}

h2 {
  font-family:  $fancy-font;
  font-size: 1.2em;
  color: rgba(0,0,0,.75);
}

h3 {
  margin-bottom: 1em;
  letter-spacing: 1px;
  font-family: $fancy-font;
  font-size: 2.5em;
  color: $highlight;

}


/* IMAGES */
.avatar{
    width: 275px;
    border: 10px solid $gilded-main;
    left: 0;
}
.avatar:after {
  content: "";
  width: 200px;
  height: 500px;
  background-color: red;
}

.thumbnail {
  width: 200px;
  border: 5px solid $gilded-main;
}
.large-image {
  border: 5px solid rgba(230, 219, 195, .3);
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,.2);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,.2);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,.2);
}

/* LINKS */

a {
  text-decoration: none;
  color: rgba(0,0,0,.5);
}

a:hover {
  color: $highlight;
}

h1 a {
  color: rgba(255,255,255,1);
}

h1 a:hover {
  color: rgba(255, 156, 33, 1);
}

/* FORM */

.form {
  width: 30em;
  margin: 0 auto 7em;
  color: rgba(0,0,0,.5);
}

label{
  float: left;
  margin: .3em 0 1em;
  font-family: $fancy-font;
  font-size: 1.2em;
  clear: both;
}

input {
  float: right;
  width: 15em;
  height: 2em;

}

input[type=submit] {
  font-family: $fancy-font;
  width: 100%;
  margin: .5em auto;
  height: 2.3em;
  background-color: $highlight;
  border: 0;
  padding: .5em;
  color: white;
  clear: both;
  font-size: 1.5em;
}

input[type=submit]:hover {
  background-color: gold;
  cursor: pointer;
}

/*select {
  float: left;
}*/

/*select#quest_quest_date_41 {
  clear: both;
}*/

.submit {
  margin: .5em auto;
  width: 18em;
  height: 2.3em;
  background-color: $highlight;
  border: 0;
  padding: .5em;
  color: white;
  clear: both;
  font-size: 1.5em;
}

h3:before, h3:after {
    font-family: $fancy-font;
    content: "\00d7";
    color: gold;
}

h3:before {
    margin-right: 10px;
}
h3:after {
    margin-left: 10px;
}

.submit:hover {
  background-color: gold;
  cursor: pointer;
}

.profile-button {
  background-color: gold;
  float: right;
  clear: both;
  margin: 0 1.5em 1em;
  position: relative;
  width: 135px;
  height: 20px;
  padding: .5em;
  font-family: $fancy-font;
  text-align: center;
}

.profile-button:hover {
  background-color: $highlight;
  color: gold;
}
