$primary-font: Helvetica, sans-serif;
$fancy-font: 'Tangerine', cursive;
$primary-color: rgba(58, 58, 58, 1);
$shadow: rgba(0, 0, 0, .2);
$glow: rgba(255, 255, 255, .4);
$main-background: rgba(251,251,251,1);

body {
  background-color: rgba(251,251,251,1);
  text-align: center;
  width: 100%;
}
h1 {
  color: $primary-color;
  z-index: 100;
  font-family: $primary-font;
}


nav {
  bottom: 0;
  width: 99%;
  position: absolute;

  li {
  display: inline;
  }

  a {
  color: white;
  margin: 3em 7em;
  }
}

.top-bar {
  background-color: $primary-color;
  min-width: 480px;
  margin-left:0;
  padding: 0;
  width:100%;
  height: 105px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin-bottom: 0;
  z-index: 100;
}

.main {
  margin: 175px auto;
  min-height: 300px;
  clear: both;
  position: relative;
  background-color: $main-background;
  width: 99%;
}

.side {
  margin: 3% 0 3%;
  padding: 1% 0 3%;
  width: 500px;
  height: 550px;
  border: 1px black;
  background-color: rgba(230, 219, 195, .3);
  border-radius: 15px;
  min-width: 200px;
}

.half {
  margin: 3% 0 3%;
  padding: 1% 0 3%;
  width: 600px;
  height: 550px;
  border: 1px black;
  background-color: rgba(230, 219, 195, .3);
  border-radius: 15px;
  min-width: 200px;
}

.left {
  float: left;
  margin-left: 10%;
}

.right {
  float: right;
  margin-right: 10%;
}

.center {
  margin: 0 auto;
}

.invite {
  padding: 3em;
}
img {
  margin-top: 20px;
}

.blurb {
  margin: 2em;
}

.avatar {
  width: 200px;
}

/*SHAPES*/

.gilded {
  margin: 2em auto;
  width: 200px;
  background-color: #BD8400;
  border: 20px solid #D69A00;
  -webkit-box-shadow: 1px 1px 5px #888;
  -moz-box-shadow: 1px 1px 5px #888;
  overflow: hide;
}

.gilded:before {
  content: "";
  background-size: 145%;
  background-position: -2em;
  height: 180px;
  width: 120px;
  display: block;
  border: 20px solid goldenrod;
  border-radius: 50%;
  -webkit-box-shadow: -1px -1px 1px $shadow;
  -moz-box-shadow: -1px -1px 1px $shadow;
}

.gilded-extra {
  background-color: transparent;
  position: absolute;
  top: 7.5em;
  margin: 0 .8em;
  height: 190px;
  width: 130px;
  display: block;
  border: 2px solid gold;
  border-radius: 50%;
   -webkit-box-shadow: 1px 1px 10px $main-background;
   -moz-box-shadow: 1px 1px 10px $main-background;
}

.plaque {
  position: absolute;
  margin-top: -1em;
  margin-left: .5em;
  padding-bottom: .3em;
  width: 140px;
  height: 25px;
  background-color: #E9B807;
  display: block;
  border-radius: 50%;
  z-index: 10;
  -webkit-box-shadow: 1px 1px 20px $glow;
  -moz-box-shadow: 1px 1px 20px $glow;
}

.plaque:before {
  content: "";
  width: 130px;
  height: 30px;
  background-color: #E9B807;
  display: inline-block;
  position: absolute;
  margin-left: -4em;
  z-index: -1;
}

h4 {
  z-index: 100;
  position: relative;
  margin-top: .4em;
  font-family: $fancy-font;
  color: rgba(0, 0, 0, .4);
  font-size: 1.2em;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

em {
  font-family: $fancy-font;
  font-size: 3em;
}
